# Import Libraries

In [1]:
import pandas as pd
import numpy as np

# Load Data

In [2]:
title_basics = 'https://datasets.imdbws.com/title.basics.tsv.gz'
title_akas = 'https://datasets.imdbws.com/title.akas.tsv.gz'
title_ratings = 'https://datasets.imdbws.com/title.ratings.tsv.gz'

In [3]:
basics = pd.read_csv(title_basics, sep='\t', low_memory=False)
akas = pd.read_csv(title_akas, sep='\t', low_memory=False)
ratings = pd.read_csv(title_ratings, sep='\t', low_memory=False)

# AKAs 

I will start the clean up process on the AKAs table first so that I can use it to filter other dataframes for the specification of keeping only US movies.

In [4]:
# Display the column names of akas
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36380969 entries, 0 to 36380968
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.2+ GB

### Replace "\N" with np.nan

In [5]:
# Replace "\N" with np.nan
akas.replace({'\\N':np.nan}, inplace=True)

### Keep only US movies

In [6]:
# Display only US movies
filter_US = akas['region'] == 'US'
akas[filter_US]

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0
...,...,...,...,...,...,...,...,...
36380495,tt9916560,1,March of Dimes Presents: Once Upon a Dime,US,NaN,imdbDisplay,NaN,0
36380565,tt9916620,1,The Copeland Case,US,NaN,imdbDisplay,NaN,0
36380654,tt9916702,1,Loving London: The Playground,US,NaN,NaN,NaN,0
36380697,tt9916756,1,Pretty Pretty Black Girl,US,NaN,imdbDisplay,NaN,0
36380713,tt9916764,1,38,US,NaN,imdbDisplay,NaN,0

In [7]:
# Keep only US movies
akas = akas[filter_US]

### Cleaned AKAs Dataframe

In [8]:
# Cleaned akas table per specification
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1447772 entries, 5 to 36380713
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1447772 non-null  object
 1   ordering         1447772 non-null  int64
 2   title            1447772 non-null  object
 3   region           1447772 non-null  object
 4   language         3971 non-null     object
 5   types            980613 non-null   object
 6   attributes       46867 non-null    object
 7   isOriginalTitle  1446430 non-null  object
dtypes: int64(1), object(7)
memory usage: 99.4+ MB

# Basics

In [9]:
# Display the column names of basics
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9966186 entries, 0 to 9966185
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 684.3+ MB

### Replace "\N" with np.nan

In [10]:
# Replace "\N" with np.nan
basics.replace({'\\N':np.nan}, inplace=True)

### Eliminate movies that are null for runtimeMinutes

In [11]:
#Display the rows that contain null values in the runtimeMinutes column
filter1 = basics['runtimeMinutes'].isna() == True
basics[filter1]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
18,tt0000019,short,The Clown Barber,The Clown Barber,0,1898,NaN,NaN,"Comedy,Short"
22,tt0000024,short,Opening of the Kiel Canal,Opening of the Kiel Canal,0,1895,NaN,NaN,"News,Short"
23,tt0000025,short,The Oxford and Cambridge University Boat Race,The Oxford and Cambridge University Boat Race,0,1896,NaN,NaN,"News,Short,Sport"
36,tt0000038,short,The Ball Game,The Ball Game,0,1898,NaN,NaN,"Documentary,Short,Sport"
37,tt0000039,short,Barnet Horse Fair,Barnet Horse Fair,0,1896,NaN,NaN,Short
...,...,...,...,...,...,...,...,...,...
9966179,tt9916844,tvEpisode,Episode #3.15,Episode #3.15,0,2009,NaN,NaN,"Action,Drama,Family"
9966180,tt9916846,tvEpisode,Episode #3.18,Episode #3.18,0,2009,NaN,NaN,"Action,Drama,Family"
9966181,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,NaN,NaN,"Action,Drama,Family"
9966182,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,NaN,NaN,"Action,Drama,Family"
9966183,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,NaN,NaN,"Action,Drama,Family"

In [12]:
# Eliminate movies that are null for runtimeMinutes
basics = basics[~filter1]

### Eliminate movies that are null for genre

In [13]:
# Display the rows that contain null values in the genres column
filter2 = basics['genres'].isna() == True
basics[filter2]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905,NaN,100,NaN
1616,tt0001630,movie,Der fremde Vogel,Der fremde Vogel,0,1911,NaN,45,NaN
1739,tt0001756,movie,Lucha por la herencia,Lucha por la herencia,0,1911,NaN,92,NaN
2069,tt0002094,movie,Charles IV,Charles IV,0,1912,NaN,50,NaN
2289,tt0002315,movie,El lobo de la sierra,El lobo de la sierra,0,1912,NaN,76,NaN
...,...,...,...,...,...,...,...,...,...
9964805,tt9913834,movie,Hiniku: Nure nawazeme,Hiniku: Nure nawazeme,0,1981,NaN,64,NaN
9964826,tt9913878,movie,Document porno: Yubi ijime,Document porno: Yubi ijime,0,1981,NaN,61,NaN
9965400,tt9915130,movie,Meet John Doe,Meet John Doe,0,NaN,NaN,120,NaN
9965842,tt9916134,movie,The Thing in the Bag,The Thing in the Bag,0,NaN,NaN,78,NaN
9966126,tt9916730,movie,6 Gunn,6 Gunn,0,2017,NaN,116,NaN

In [14]:
# Eliminate movies that are null for runtimeMinutes
basics = basics[~filter2]

### Keep only titleType==Movie

In [15]:
# Display only titleType==Movie
filter3 = basics['titleType'] == 'Movie'
basics[filter3]

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

In [16]:
basics['titleType'].value_counts()

tvEpisode       1475884
short            605646
movie            384449
video            181728
tvMovie           92152
tvSeries          91089
tvSpecial         18401
tvMiniSeries      17390
tvShort            8692
videoGame           324
Name: titleType, dtype: int64

In [17]:
# Display only titleType==Movie
filter3 = basics['titleType'] == 'movie'
basics[filter3]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
...,...,...,...,...,...,...,...,...,...
9965952,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
9966036,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama
9966077,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,NaN,57,Documentary
9966104,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary
9966136,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary

In [18]:
# Keep only titleType==Movie
basics = basics[filter3]

###  Keep startYear 2000 - 2021

In [19]:
# Convert dtype of startYear column to float
basics['startYear'].astype(float)

8          1894.0
144        1897.0
570        1906.0
587        1907.0
672        1908.0
            ...
9965952    2020.0
9966036    2019.0
9966077    2015.0
9966104    2007.0
9966136    2013.0
Name: startYear, Length: 384449, dtype: float64

In [20]:
# Filter for startYear 2000-2021
filter4 = basics['startYear'] >= '2000'
filter5 = basics['startYear'] <= '2021'
basics[filter4 & filter5]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,NaN,94,Documentary
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
42384,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History"
61115,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
67667,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
...,...,...,...,...,...,...,...,...,...
9965952,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
9966036,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama
9966077,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,NaN,57,Documentary
9966104,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary
9966136,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary

In [21]:
# Keep only startYear 2000-2021
basics = basics[filter4 & filter5]

### Eliminate movies that include "Documentary" in genre

In [22]:
# Display movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics[is_documentary]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,NaN,94,Documentary
95148,tt0097304,movie,Everything's for You,Everything's for You,0,2009,NaN,58,Documentary
102653,tt0104988,movie,Neues in Wittstock,Neues in Wittstock,0,2021,NaN,100,Documentary
106709,tt0109173,movie,Auf allen Meeren,Auf allen Meeren,0,2002,NaN,95,Documentary
110936,tt0113506,movie,Justifiable Homicide,Justifiable Homicide,0,2002,NaN,85,Documentary
...,...,...,...,...,...,...,...,...,...
9965855,tt9916160,movie,Drømmeland,Drømmeland,0,2019,NaN,72,Documentary
9965866,tt9916186,movie,Illenau - die Geschichte einer ehemaligen Heil...,Illenau - die Geschichte einer ehemaligen Heil...,0,2017,NaN,84,Documentary
9966077,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,NaN,57,Documentary
9966104,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary
9966136,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary

In [23]:
# Exclude movies that are included in the documentary category.
basics = basics[~is_documentary]

### Keep only US movies using AKAs table

In [24]:
# Keep only US movies
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
basics = basics[keepers]

### Cleaned Basics Dataframe

In [25]:
# Cleaned Basics table per specification
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81799 entries, 34803 to 9965952
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81799 non-null  object
 1   titleType       81799 non-null  object
 2   primaryTitle    81799 non-null  object
 3   originalTitle   81799 non-null  object
 4   isAdult         81799 non-null  object
 5   startYear       81799 non-null  object
 6   endYear         0 non-null      object
 7   runtimeMinutes  81799 non-null  object
 8   genres          81799 non-null  object
dtypes: object(9)
memory usage: 6.2+ MB

# Ratings

In [26]:
# Display the column names of akas
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1324473 entries, 0 to 1324472
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1324473 non-null  object
 1   averageRating  1324473 non-null  float64
 2   numVotes       1324473 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.3+ MB

### Replace "\N" with np.nan

In [27]:
# Replace "\N" with np.nan
ratings.replace({'\\N':np.nan}, inplace=True)

### Keep only US movies using AKAs table

In [28]:
# Keep only US movies
# Filter the ratings table down to only include the US by using the filter akas dataframe
keepers2 =ratings['tconst'].isin(akas['titleId'])
ratings = ratings[keepers2]

### Cleaned Ratings Dataframe

In [29]:
# Cleaned Ratings table per specification
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 502224 entries, 0 to 1324448
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         502224 non-null  object
 1   averageRating  502224 non-null  float64
 2   numVotes       502224 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.3+ MB

# Final .info() of each dataframe

In [30]:
print('Basics', '\n')
print(basics.info())
print('\n','AKAs', '\n')
print(akas.info())
print('\n','Ratings', '\n')
print(ratings.info())

Basics

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81799 entries, 34803 to 9965952
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81799 non-null  object
 1   titleType       81799 non-null  object
 2   primaryTitle    81799 non-null  object
 3   originalTitle   81799 non-null  object
 4   isAdult         81799 non-null  object
 5   startYear       81799 non-null  object
 6   endYear         0 non-null      object
 7   runtimeMinutes  81799 non-null  object
 8   genres          81799 non-null  object
dtypes: object(9)
memory usage: 6.2+ MB
None

 AKAs

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1447772 entries, 5 to 36380713
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1447772 non-null  object
 1   ordering         1447772 non-null  int64
 2   title            1447772 non-null  object
 3   region           1447772 non-null  object
 4   language         3971 non-null     object
 5   types            980613 non-null   object
 6   attributes       46867 non-null    object
 7   isOriginalTitle  1446430 non-null  object
dtypes: int64(1), object(7)
memory usage: 99.4+ MB
None

 Ratings

<class 'pandas.core.frame.DataFrame'>
Int64Index: 502224 entries, 0 to 1324448
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         502224 non-null  object
 1   averageRating  502224 non-null  float64
 2   numVotes       502224 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.3+ MB
None

# Create a "Data" folder

In [31]:
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['title_basics.csv.gz', 'title_akas.csv.gz', 'title_ratings.csv.gz']

# Save each file to a compressed csv file "Data/" folder inside your repository.

In [32]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [33]:
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [34]:
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

# Check the saved csv file

In [35]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [36]:
# Open saved file and preview again
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [37]:
# Open saved file and preview again
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1982
1  tt0000002            5.8       265
2  tt0000005            6.2      2625
3  tt0000006            5.1       182
4  tt0000007            5.4       820