# Import Libraries

In [1]:
import pandas as pd
import numpy as np

# Load Data

In [2]:
title_basics = 'https://datasets.imdbws.com/title.basics.tsv.gz'
title_akas = 'https://datasets.imdbws.com/title.akas.tsv.gz'
title_ratings = 'https://datasets.imdbws.com/title.ratings.tsv.gz'

In [3]:
basics = pd.read_csv(title_basics, sep='\t', low_memory=False)
akas = pd.read_csv(title_akas, sep='\t', low_memory=False)
ratings = pd.read_csv(title_ratings, sep='\t', low_memory=False)

## Specifications - [LP URL](https://login.codingdojo.com/m/376/12528/88060)
Your stakeholder only wants you to include information for movies based on the following specifications:

- Exclude any movie with missing values for genre or runtime
- Include only full-length movies (titleType = "movie").
- Include only fictional movies (not from documentary genre)
- Include only movies that were released 2000 - 2021 (include 2000 and 2021)
- Include only movies that were released in the United States

## Deliverable
After filtering out movies that do not meet the stakeholder's specifications:

- Before saving, run a final .info() for each of the dataframes to show a summary of how many movies remain and the datatypes of each feature
- Save each file to a compressed csv file "Data/" folder inside your repository.
- Commit your changes to your repository in GitHub desktop and Publish repository / Push Changes.
- Submit the link to your repository

## Required Preprocessing - Details - [LP URL](https://login.codingdojo.com/m/376/12528/88061)
### Filtering/Cleaning Steps:

#### Title Basics:
- Replace "\N" with np.nan
- Eliminate movies that are null for runtimeMinutes
- Eliminate movies that are null for genre
- keep only titleType==Movie
- keep startYear 2000-2022
- Eliminate movies that include "Documentary" in genre (see tip below)
- Keep only US movies (Use AKAs table, see "Filtering one dataframe based on another" section below)

#### AKAs:
- keep only US movies.
- Replace "\N" with np.nan

#### Ratings:
- Replace "\N" with np.nan (if any)
- Keep only US movies (Use AKAs table, see "Filtering one dataframe based on another" section below)

In [4]:
# Display the column names of basics
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9958356 entries, 0 to 9958355
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 683.8+ MB

In [5]:
# Check the number of null values in each column
basics.isna().sum()

tconst             0
titleType          0
primaryTitle      11
originalTitle     11
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            15
dtype: int64

In [22]:
# Display the number of unique values under each column
basics.nunique()

tconst            9958356
titleType              11
primaryTitle      4497205
originalTitle     4519318
isAdult                11
startYear             154
endYear                96
runtimeMinutes        892
genres               2342
dtype: int64

In [25]:
# Replace "\N" with np.nan
basics.replace({'\\N':np.nan}, inplace=True)

In [26]:
# Display the rows that contain null values in the genres column
filter1 = basics['genres'].isna() == True
basics[filter1]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905,NaN,100,NaN
828,tt0000838,movie,A Cultura do Cacau,A Cultura do Cacau,0,1909,NaN,NaN,NaN
832,tt0000842,movie,De Garraf a Barcelona,De Garraf a Barcelona,0,1909,NaN,NaN,NaN
836,tt0000846,movie,Un día en Xochimilco,Un día en Xochimilco,0,1909,NaN,NaN,NaN
840,tt0000850,movie,Los dos hermanos,Los dos hermanos,0,1909,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9958047,tt9916210,tvSeries,Rumpole of the Bailey,Rumpole of the Bailey,0,NaN,NaN,NaN,NaN
9958270,tt9916672,tvEpisode,L'échange,L'échange,0,2007,NaN,NaN,NaN
9958276,tt9916684,tvEpisode,Otages (1e partie),Otages (1e partie),0,2007,NaN,NaN,NaN
9958283,tt9916700,tvEpisode,Apex Cartoon - Meet the Legends,Apex Cartoon - Meet the Legends,0,2019,NaN,NaN,NaN
9958296,tt9916730,movie,6 Gunn,6 Gunn,0,2017,NaN,116,NaN