# Import Libraries

In [1]:
import pandas as pd
import numpy as np

# Load Data

In [2]:
title_basics = 'https://datasets.imdbws.com/title.basics.tsv.gz'
title_akas = 'https://datasets.imdbws.com/title.akas.tsv.gz'
title_ratings = 'https://datasets.imdbws.com/title.ratings.tsv.gz'

In [3]:
basics = pd.read_csv(title_basics, sep='\t', low_memory=False)
akas = pd.read_csv(title_akas, sep='\t', low_memory=False)
ratings = pd.read_csv(title_ratings, sep='\t', low_memory=False)

## Specifications - [LP URL](https://login.codingdojo.com/m/376/12528/88060)
Your stakeholder only wants you to include information for movies based on the following specifications:

- Exclude any movie with missing values for genre or runtime
- Include only full-length movies (titleType = "movie").
- Include only fictional movies (not from documentary genre)
- Include only movies that were released 2000 - 2021 (include 2000 and 2021)
- Include only movies that were released in the United States

## Deliverable
After filtering out movies that do not meet the stakeholder's specifications:

- Before saving, run a final .info() for each of the dataframes to show a summary of how many movies remain and the datatypes of each feature
- Save each file to a compressed csv file "Data/" folder inside your repository.
- Commit your changes to your repository in GitHub desktop and Publish repository / Push Changes.
- Submit the link to your repository

## Required Preprocessing - Details - [LP URL](https://login.codingdojo.com/m/376/12528/88061)
### Filtering/Cleaning Steps:

#### Title Basics:
- Replace "\N" with np.nan
- Eliminate movies that are null for runtimeMinutes
- Eliminate movies that are null for genre
- keep only titleType==Movie
- keep startYear 2000-2022
- Eliminate movies that include "Documentary" in genre (see tip below)
- Keep only US movies (Use AKAs table, see "Filtering one dataframe based on another" section below)

#### AKAs:
- keep only US movies.
- Replace "\N" with np.nan

#### Ratings:
- Replace "\N" with np.nan (if any)
- Keep only US movies (Use AKAs table, see "Filtering one dataframe based on another" section below)

# AKAs 

I will start the clean up process on the AKAs table first so that I can use it to filter other dataframes for the specification of keeping only US movies.

In [4]:
# Display the column names of akas
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36351649 entries, 0 to 36351648
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.2+ GB

In [5]:
# Replace "\N" with np.nan
akas.replace({'\\N':np.nan}, inplace=True)

In [6]:
# Display only US movies
filter_US = akas['region'] == 'US'
akas[filter_US]

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0
...,...,...,...,...,...,...,...,...
36351175,tt9916560,1,March of Dimes Presents: Once Upon a Dime,US,NaN,imdbDisplay,NaN,0
36351245,tt9916620,1,The Copeland Case,US,NaN,imdbDisplay,NaN,0
36351334,tt9916702,1,Loving London: The Playground,US,NaN,NaN,NaN,0
36351377,tt9916756,1,Pretty Pretty Black Girl,US,NaN,imdbDisplay,NaN,0
36351393,tt9916764,1,38,US,NaN,imdbDisplay,NaN,0

In [7]:
# Keep only US movies
akas = akas[filter_US]

In [8]:
# Cleaned akas table per specification
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1447035 entries, 5 to 36351393
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1447035 non-null  object
 1   ordering         1447035 non-null  int64
 2   title            1447035 non-null  object
 3   region           1447035 non-null  object
 4   language         3960 non-null     object
 5   types            980456 non-null   object
 6   attributes       46840 non-null    object
 7   isOriginalTitle  1445693 non-null  object
dtypes: int64(1), object(7)
memory usage: 99.4+ MB

# Basics

In [9]:
# Display the column names of basics
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9958356 entries, 0 to 9958355
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 683.8+ MB

In [10]:
# Replace "\N" with np.nan
basics.replace({'\\N':np.nan}, inplace=True)

In [11]:
#Display the rows that contain null values in the runtimeMinutes column
filter1 = basics['runtimeMinutes'].isna() == True
basics[filter1]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
18,tt0000019,short,The Clown Barber,The Clown Barber,0,1898,NaN,NaN,"Comedy,Short"
22,tt0000024,short,Opening of the Kiel Canal,Opening of the Kiel Canal,0,1895,NaN,NaN,"News,Short"
23,tt0000025,short,The Oxford and Cambridge University Boat Race,The Oxford and Cambridge University Boat Race,0,1896,NaN,NaN,"News,Short,Sport"
36,tt0000038,short,The Ball Game,The Ball Game,0,1898,NaN,NaN,"Documentary,Short,Sport"
37,tt0000039,short,Barnet Horse Fair,Barnet Horse Fair,0,1896,NaN,NaN,Short
...,...,...,...,...,...,...,...,...,...
9958349,tt9916844,tvEpisode,Episode #3.15,Episode #3.15,0,2010,NaN,NaN,"Action,Drama,Family"
9958350,tt9916846,tvEpisode,Episode #3.18,Episode #3.18,0,2010,NaN,NaN,"Action,Drama,Family"
9958351,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,NaN,NaN,"Action,Drama,Family"
9958352,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,NaN,NaN,"Action,Drama,Family"
9958353,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,NaN,NaN,"Action,Drama,Family"

In [12]:
# Eliminate movies that are null for runtimeMinutes
basics = basics[~filter1]

In [13]:
# Display the rows that contain null values in the genres column
filter2 = basics['genres'].isna() == True
basics[filter2]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905,NaN,100,NaN
1616,tt0001630,movie,Der fremde Vogel,Der fremde Vogel,0,1911,NaN,45,NaN
1739,tt0001756,movie,Lucha por la herencia,Lucha por la herencia,0,1911,NaN,92,NaN
2069,tt0002094,movie,Charles IV,Charles IV,0,1912,NaN,50,NaN
2289,tt0002315,movie,El lobo de la sierra,El lobo de la sierra,0,1912,NaN,76,NaN
...,...,...,...,...,...,...,...,...,...
9956975,tt9913834,movie,Hiniku: Nure nawazeme,Hiniku: Nure nawazeme,0,1981,NaN,64,NaN
9956996,tt9913878,movie,Document porno: Yubi ijime,Document porno: Yubi ijime,0,1981,NaN,61,NaN
9957570,tt9915130,movie,Meet John Doe,Meet John Doe,0,NaN,NaN,120,NaN
9958012,tt9916134,movie,The Thing in the Bag,The Thing in the Bag,0,NaN,NaN,78,NaN
9958296,tt9916730,movie,6 Gunn,6 Gunn,0,2017,NaN,116,NaN

In [14]:
# Eliminate movies that are null for runtimeMinutes
basics = basics[~filter2]

In [15]:
# Display only titleType==Movie
filter3 = basics['titleType'] == 'Movie'
basics[filter3]

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

In [16]:
basics['titleType'].value_counts()

tvEpisode       1473963
short            605346
movie            384294
video            181604
tvMovie           92130
tvSeries          91057
tvSpecial         18377
tvMiniSeries      17370
tvShort            8692
videoGame           323
Name: titleType, dtype: int64

In [17]:
# Display only titleType==Movie
filter3 = basics['titleType'] == 'movie'
basics[filter3]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
...,...,...,...,...,...,...,...,...,...
9958122,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
9958206,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama
9958247,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,NaN,57,Documentary
9958274,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary
9958306,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary

In [18]:
# Keep only titleType==Movie
basics = basics[filter3]

In [19]:
# Filter for startYear 2000-2022
filter4 = basics['startYear'] >= '2000'
filter5 = basics['startYear'] <= '2022'
basics[filter4 & filter5]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,NaN,94,Documentary
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
42384,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History"
61115,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
67667,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
...,...,...,...,...,...,...,...,...,...
9958122,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
9958206,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama
9958247,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,NaN,57,Documentary
9958274,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary
9958306,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary

In [20]:
filter_2022 = basics['startYear'] == '2022'
basics[filter_2022]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
76057,tt0077684,movie,Histórias de Combóios em Portugal,Histórias de Combóios em Portugal,0,2022,NaN,46,Documentary
116999,tt0119830,movie,One Dog Day,One Dog Day,0,2022,NaN,101,"Action,Comedy"
117720,tt0120589,movie,A Dangerous Practice,A Dangerous Practice,0,2022,NaN,108,"Biography,Drama"
193076,tt0200940,movie,Over-sexed Rugsuckers from Mars,Over-sexed Rugsuckers from Mars,0,2022,NaN,87,"Comedy,Sci-Fi"
202652,tt0211266,movie,Black Star: Autobiography of a Close Friend,Black Star: Autobiography of a Close Friend,0,2022,NaN,85,Documentary
...,...,...,...,...,...,...,...,...,...
9947340,tt9893130,movie,"2025: Blood, White & Blue","2025: Blood, White & Blue",0,2022,NaN,135,"Action,Comedy,Horror"
9947354,tt9893158,movie,Clowning,Clowning,0,2022,NaN,96,"Crime,Romance"
9947355,tt9893160,movie,No Way Out,No Way Out,0,2022,NaN,89,"Action,Crime,Thriller"
9947728,tt9894000,movie,Twice As Strong: Made of Fire,Twice As Strong: Made of Fire,0,2022,NaN,122,Drama
9952694,tt9904648,movie,The Contrast,The Contrast,0,2022,NaN,82,Comedy

In [21]:
# Keep only startYear 2000-2022
basics = basics[filter4 & filter5]

In [22]:
# Display movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics[is_documentary]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,NaN,94,Documentary
76057,tt0077684,movie,Histórias de Combóios em Portugal,Histórias de Combóios em Portugal,0,2022,NaN,46,Documentary
95148,tt0097304,movie,Everything's for You,Everything's for You,0,2009,NaN,58,Documentary
102653,tt0104988,movie,Neues in Wittstock,Neues in Wittstock,0,2021,NaN,100,Documentary
106709,tt0109173,movie,Auf allen Meeren,Auf allen Meeren,0,2002,NaN,95,Documentary
...,...,...,...,...,...,...,...,...,...
9958025,tt9916160,movie,Drømmeland,Drømmeland,0,2019,NaN,72,Documentary
9958036,tt9916186,movie,Illenau - die Geschichte einer ehemaligen Heil...,Illenau - die Geschichte einer ehemaligen Heil...,0,2017,NaN,84,Documentary
9958247,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,NaN,57,Documentary
9958274,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary
9958306,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary

In [23]:
# Exclude movies that are included in the documentary category.
basics = basics[~is_documentary]

In [24]:
# Keep only US movies
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
basics = basics[keepers]

In [25]:
# Cleaned Basics table per specification
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86819 entries, 34803 to 9958122
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86819 non-null  object
 1   titleType       86819 non-null  object
 2   primaryTitle    86819 non-null  object
 3   originalTitle   86819 non-null  object
 4   isAdult         86819 non-null  object
 5   startYear       86819 non-null  object
 6   endYear         0 non-null      object
 7   runtimeMinutes  86819 non-null  object
 8   genres          86819 non-null  object
dtypes: object(9)
memory usage: 6.6+ MB

# Ratings

In [26]:
# Display the column names of akas
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1323132 entries, 0 to 1323131
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1323132 non-null  object
 1   averageRating  1323132 non-null  float64
 2   numVotes       1323132 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.3+ MB

In [27]:
# Replace "\N" with np.nan
ratings.replace({'\\N':np.nan}, inplace=True)

In [28]:
# Keep only US movies
# Filter the ratings table down to only include the US by using the filter akas dataframe
keepers2 =ratings['tconst'].isin(akas['titleId'])
ratings = ratings[keepers2]

In [29]:
# Cleaned Ratings table per specification
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501873 entries, 0 to 1323107
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         501873 non-null  object
 1   averageRating  501873 non-null  float64
 2   numVotes       501873 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.3+ MB

## Deliverable
After filtering out movies that do not meet the stakeholder's specifications:

- Before saving, run a final .info() for each of the dataframes to show a summary of how many movies remain and the datatypes of each feature
- Save each file to a compressed csv file "Data/" folder inside your repository.
- Commit your changes to your repository in GitHub desktop and Publish repository / Push Changes.
- Submit the link to your repository

## Final .info() of each dataframe

In [31]:
print('Basics', '\n')
print(basics.info())
print('\n','AKAs', '\n')
print(akas.info())
print('\n','Ratings', '\n')
print(ratings.info())

Basics

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86819 entries, 34803 to 9958122
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86819 non-null  object
 1   titleType       86819 non-null  object
 2   primaryTitle    86819 non-null  object
 3   originalTitle   86819 non-null  object
 4   isAdult         86819 non-null  object
 5   startYear       86819 non-null  object
 6   endYear         0 non-null      object
 7   runtimeMinutes  86819 non-null  object
 8   genres          86819 non-null  object
dtypes: object(9)
memory usage: 6.6+ MB
None

 AKAs

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1447035 entries, 5 to 36351393
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1447035 non-null  object
 1   ordering         1447035 non-null  int64
 2   title            1447035 non-null  object
 3   region           1447035 non-null  object
 4   language         3960 non-null     object
 5   types            980456 non-null   object
 6   attributes       46840 non-null    object
 7   isOriginalTitle  1445693 non-null  object
dtypes: int64(1), object(7)
memory usage: 99.4+ MB
None

 Ratings

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501873 entries, 0 to 1323107
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         501873 non-null  object
 1   averageRating  501873 non-null  float64
 2   numVotes       501873 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.3+ MB
None

## Create a "Data" folder

In [32]:
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

[]

## Save each file to a compressed csv file "Data/" folder inside your repository.

In [35]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [36]:
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [37]:
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

## Check the saved csv file

In [38]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [39]:
# Open saved file and preview again
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [40]:
# Open saved file and preview again
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1982
1  tt0000002            5.8       265
2  tt0000005            6.2      2624
3  tt0000006            5.1       182
4  tt0000007            5.4       820